@import "mixins"

// config
font-size = 12px
line-height = font-size * 1.4


// RESET
body, html, ul, ol, li, h1, h2
	margin: 0
	padding: 0

// mixins
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

body, html
	font-weight: 300
	font-family: "Roboto"
	font-size: font-size
	line-height: line-height

.pull-right
	float: right

a.brand
	font-size: font-size * 2
	line-height: font-size * 2.125
	color: #fff
	font-weight: 300
	text-transform: uppercase
	text-decoration: none
	margin: 0 1em 0 0

// navigation bar
.navbar
	background: #1a9172
	width: 100%
.navbar-inner
	padding: 0.5em
	&:after, &:before
		display: table
		line-height: 0
		content: ""
	&:after
		clear: both
.navbar-fixed
	z-index: 9999
	position: fixed
	top: 0
	left: 0

// buttons
btn(color)
	font-weight: 500
	border: none
	color: #fff
	padding: 0.5em 0.8em 0.35em
	margin-bottom: 0.2em
	border-radius 0.25em
	background: color
	box-shadow: darken(color, 15) 0px 2px
	&:focus, &:hover
		background: lighten(color, 20%)

.btn
	btn #bdc3c7
.btn-primary
	btn #1abc9c
.btn-active
	btn #3498db
.btn-disabled
	btn #c7cccf
.btn-danger
	btn #df342e


// map
#map
	width: 100%
	height: 320px

// info display
#info
	width: 100%
	display: table
#info
	infoBackgroundColor = #1fb18a
	infoTextColor = #ffffff
	infoBoxBackgroundColor = infoBackgroundColor
	infoBoxBorderColor = #1a9172
	infoBoxTextColor = infoTextColor
	background: infoBackgroundColor
	color: infoTextColor

	.error 
		border: none
		color: mix(infoTextColor, white)
		background-color: mix(infoBackgroundColor, red)
		text-align: center
		line-height: 2em
		margin-bottom: 0.5em

	.property
		float: left
		width: 45%
		margin: 0 2% 2% 2%
		display: inline-block
		border-radius(1em)
		border: 1px solid infoBoxBorderColor
		background: infoBoxBackgroundColor
		color: infoBoxTextColor
		.label
			padding-top: 0.125em
			text-align: center
			font-size: 1em
			line-height: 1em
		.value
			color: mix(infoBoxTextColor, infoBoxBackgroundColor)
			font-weight: 500
			line-height: 1.125em
			text-align: center
			font-size: 1.75em

	.lastUpdate
		margin: 0 0 0.5em 0
		border: none
		float: none
		width: 96%
		.value 
			font-weight: none
			font-size: 0.75em