vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args
box-shadow(n)
	vendor('box-shadow', n)
text-shadow(n)
	vendor('text-shadow', n)
border-radius(n)
	vendor('border-radius', n)