.cordova
node_modules
www

# ios ignores
platforms/ios/www
platforms/ios/GPS-Tracker/Resources/icons
platforms/ios/GPS-Tracker/Resources/splash
platforms/ios/GPS-Tracker.xcodeproj/project.xcworkspace/xcuserdata/*

# android ignores
platforms/android/assets/www
platforms/android/out
platforms/android/res/drawable**
platforms/android/.idea