<div class="navbar-inner">
	<a href="#" class="brand">
		<h1>GPS-Tracker</h1>
	</a>
	<div class="pull-right">
		<button class="btn btn-track-route">Track</button>
		<button class="btn btn-auto-center">Center</button>
	</div>
</div>